.container {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 50px;
  input {
    width: 75vw;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    font-size: 18px;
    color: black;
    padding: 30px;

    @media(max-width: 500px) {
      font-size: 15px;
      padding: 10px;
    }
  }
}
