.container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 50vh;
  @media (max-width: 800px) {
    height: 30vh;
  }
  @media (max-width: 500px) {
    height: 20vh;
  }
  align-items: center;
  div:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vw;
    @media (max-width: 800px) {
      align-items: center;
    }
  }
  .img {
    img {
      width: 20vw;
      height: 30vh;
      object-fit: contain;
    }
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      font-size: 18px;
      @media (max-width: 800px) {
        font-size: 12px;
      }
      @media (max-width: 500px) {
        font-size: 9px;
      }
    }
  }
}
